<div class="row">

    <form >
        <div class="row form-group">
            <div class="col-sm-5">
                <label for="Name">Name</label>
                <input type="text" class="form-control" placeholder="Ingredients Name">
            </div>
            <div class="col-sm-2">
             <label for="Name">Amount</label>
             <input type="Number" class="form-control">
            </div>
        </div>
        <div class="row  col-xs-12">
            <button class="btn btn-outline-success mr-1">Add</button>
            <button class="btn btn-outline-danger mr-1">Delete</button>
            <button class="btn btn-outline-dark mr-1">Clear</button>
        </div>
     </form>


</div>
