<!-- <div class="container">
  <app-headers></app-headers>
  <div class="col-md-12">
    <app-recipe-book></app-recipe-book>
  </div>

  <app-shopping-list></app-shopping-list>

</div> -->

<!-- <div class="conteiner">
      <app-testServer></app-testServer>
</div> -->

<!-- <app-ControlGame (countEventFired)="onCountFired($event)"></app-ControlGame>
<div *ngFor="let item of countList">
  <div class="alert alert-primary" *ngIf="item % 2 == 0" >
  <app-OddControlGame [oddNumber]="item"></app-OddControlGame>
  </div>
  <div class="alert alert-success" *ngIf="item % 2==1">
    <app-EventControlGame [eventNumber]="item"></app-EventControlGame>
  </div>
</div> -->

<app-UserGame></app-UserGame>